@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center justify-content-center">
    <h1 class="display-4">Welcome to EF-CRUD</h1>
    <p>Choose a option in the navbar.</p>
</div>
